body {
    margin: 0;
    background-color: #153243;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    border-radius: 20px;
    background-color: #153243;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #F4F4F9
}

.title {
    color: #04724D
}

.display {
    display: flex;
    justify-content: space-around;
    color: #F4F4F9
}

button {
    background-color: transparent;
    color:#04724D;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}

p {
    color: grey
}

.newPassword{
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}